[Desktop Entry]
Name=Steam
Comment=Play games on Steam
Exec=/usr/bin/steam --ozone-platform-hint=auto --enable-features=UseOzonePlatform
Icon=steam
Terminal=false
Type=Application
Categories=Game;
